
<h3>Edit Customers</h3>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input name="Name" matInput ngModel required [(ngModel)]="customername">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input name="Email" matInput required ngModel [(ngModel)]="customeremail">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Contact No.</mat-label>
        <input name="Contact No." matInput required ngModel [(ngModel)]="customermobileno">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input name="Address_Line_1" matInput required ngModel [(ngModel)]="customerAdd1">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input name="Address_Line_2" matInput required ngModel [(ngModel)]="customerAdd2">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>City</mat-label>
        <input name="City" matInput required ngModel [(ngModel)]="customercity">
    </mat-form-field>
    <br>
    <div class="btns">
        <button class="btn" type="submit" (click)="onSubmit()">Save</button>
        <button mat-button mat-dialog-close class="btn">No</button>
    </div>
</form>
